In [1]:
import pandas as pd

df = pd.read_csv("../CSVs/Finais/turmas_geral.csv", sep=";")

df.sort_values("qtd_reprovado", ascending=False).head(5)

,ano,periodo,id_turma,media_final_geral,total_alunos,qtd_aprovado,qtd_desistencia,qtd_reprovado_por_média_e_por_faltas,qtd_trancado,qtd_aprovado_por_nota,qtd_reprovado,qtd_reprovado_por_faltas,qtd_reprovado_por_nota_e_falta,qtd_reprovado_por_nota
35319,2015,1,1245390,6.833174,1352,671,0,0,0,0,681,0,0,0
35320,2015,1,1245391,6.166497,1349,668,0,0,0,0,681,0,0,0
35318,2015,1,1245389,5.667196,1347,667,0,0,0,0,680,0,0,0
35315,2015,1,1245386,6.464895,1346,666,0,0,0,0,680,0,0,0
35316,2015,1,1245387,7.053898,1346,667,0,0,0,0,679,0,0,0